body {
  background-color: white;
}

h1 {
  color: white;
  text-align: center;
  background-color: rgb(128, 0, 70);
}
h2 {
	background-color: rgb(111, 24, 211);
}
#pantalla{
	font-family: verdana;
	font-size: 52px;
	text-align: right;
}
p {
  font-family: verdana;
  font-size: 20px;
}
footer{
	vertical-align: bottom;
	background-color: rgb(143, 4, 50);
}
table {
	display: table;
	border-collapse: separate;
	border-spacing: 4px;
	border-color: gray;
	border-style: solid; 
	font-size:52px;
	font-size-adjust 0.58:
}